<% layout('layout') -%>
<script src="/javascripts/event.js"></script>
    
    <div class="container">
        <h1><%= name %></h1>

        <div>
            <p>Event Name:  <%=name%></p>
        </div>
        <div>
            <p>Created By:  <a href="/user/<%=created_by._id%>"><%=created_by.first_name + " " + created_by.last_name%></a></p>
        </div>
        <div>
            <p>Date:  <%=date%></p>
        </div>
        <img id="index_img" src="/images/holder.jpg" alt="Welcome">
        <div>
            <p>Location:  <%=location%></p>
        </div>
        <div>
            <p>Start Time:  <%=start_time%></p>
        </div>
        <div>
            <p>End Time:  <%=end_time%></p>
        </div>
        <div>
            <p>Description:  <%=description%></p>
        </div>

        <a href="#popupRSVP" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-icon="check" data-theme="b" data-transition="pop">RSVP</a>
        <div data-role="popup" id="popupRSVP" data-theme="a" data-overlay-theme="a" class="ui-corner-all">

                <div style="padding:10px 20px;">
                    <h3>RSVP</h3>
                            <form>
                                <legend>How will you get there?</legend>
                                <label>
                                    <input type="radio" name="role" id="driver">Driver
                                </label>
                                <label for="rider">Rider</label>
                                <input type="radio" name="role" id="rider" class="custom">
                            </form>
                    <form id="RSVPform"  action="/event/<%=id%>/role/new" method="post">
                        <legend>Where from?</legend>
                        <label for="location" class="ui-hidden-accessible">Location:</label>
                        <input type="text" name="location" id="location" value="" placeholder="Location" data-theme="b">

                        <legend>What time?</legend>
                        <label for="time" class="ui-hidden-accessible">Time:</label>
                        <input type="time" name="time" id="time" value="" placeholder="Leave Time" data-theme="b">

                        <div id="jq-insert">
                        </div>

                        <legend>Notes</legend>
                        <label for="notes" class="ui-hidden-accessible">Ride Notes:</label>
                        <textarea name="notes" id="notes" value="" placeholder="Ride Notes" data-theme="b"></textarea>

                        <input id="subm" type="submit" data-theme="b" data-icon="check" value="RSVP">

                </div>
                    </form>
        </div>

        <a href= <%= "/event/"+id+"/edit"%> data-role="button" data-inline="true" data-mini="true" data-theme="b">Edit</a>
        <br>
        <form method="post" action=<%= "/event/"+id+"/delete"%>>
            <input name="_id" type="hidden" value=<%=id%>>
            <input data-role="button" data-inline="true" data-mini="true" data-theme="e" id="delete" name="delete" value="Delete" type="submit">
        </form>

        <div id="load_cars"></div>
        <div id="stranded_riders" class="ui-grid-d"></div>


    </div>