<% layout('layout') -%>
    
    <form action=<%="/event/"+id+"/save"%> method="post" data-mini="true">
        <div data-role="fieldcontain">
            <label>Event name:</label>
            <input type="text" name="name"  id="name" value="<%=name%>">
        </div>
        <div data-role="fieldcontain">
            <label>Date:</label>
            <input type="date" name="date"  id="date" value="<%=date%>">
        </div>
        <div data-role="fieldcontain">
            <label>Location:</label>
            <input type="text" name="location" id="location" value="<%=location%>">
        </div>        
        <div data-role="fieldcontain">
            <label>Start Time:</label>
            <input type="time" name="start_time" id="start_time" value="<%=start_time%>">
        </div>
        <div data-role="fieldcontain">
            <label>End Time:</label>
            <input type="time" name="end_time" id="end_time" value="<%=end_time%>">
        </div>
        <div data-role="fieldcontain">
            <label for="textarea">Description:</label>
            <textarea name="description" id="description"><%= description%></textarea>
        </div>
        <div><input type="hidden" name="_id" value=<%= id %>></div>
        <div>
            <input type="submit" value="Update Event"/>
        </div>
    </form>
