<% layout('layout') -%>
    
    <div class="container">
        <h1><%= name %></h1>

        <div>
            <p>Event Name:  <%=name%></p>
        </div>
        <div>
            <p>Date:  <%=date%></p>
        </div>
        <div>
            <p>Location:  <%=location%></p>
        </div>
        <div>
            <p>Start Time:  <%=start_time%></p>
        </div>
        <div>
            <p>End Time:  <%=end_time%></p>
        </div>
        <div>
            <p>Description:  <%=description%></p>
        </div>
        <a href= <%= "/event/"+id+"/edit"%> data-role="button" data-inline="true" data-mini="true" data-theme="b">Edit</a>
        <br>
        <form method="post" action=<%= "/event/"+id+"/delete"%>>
            <input name="_id" type="hidden" value=<%=id%>>
            <input data-role="button" data-inline="true" data-mini="true" data-theme="e" id="delete" name="delete" value="Delete" type="submit">
        </form>
    </div>