<% layout('layout') -%>
<!--div data-role="page" id="event_show"--> 

<script src="/javascripts/event.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAnhJ9slS6FaJpwogrvb5SJtEGohVY7cns&sensor=true"></script>
<script src="/javascripts/event_gmap.js"></script>
    
    <div class="container">
        <br>
        <div id="googleMap" style="width:500px;height:380px;text-align:center;"></div>
        <div id="event_description_block">
            <div id="event_desc_top">
            <div id="event_head">
                <p><h2><%=name%></h2>
                Created By:  <a href="/user/<%=created_by._id%>"><%=created_by.first_name + " " + created_by.last_name%></a></p>
            </div>
            <div id="event_des">
                <br>
                <p>Date:  <%=date%>
                <br>
                Start Time:  <%=start_time%>
                <br>
                End Time:  <%=end_time%></p>
            </div>
            </div>
            <div style="clear:both;"></div>
                <hr>
            <div>
                <p>Location:  <%=location%></p>
            </div>
                <hr>
            <div>
                <p>Description:  <%=description%></p>
            </div>
        </div>
        <% if(user){ %>
        <div id="RSVPbutton">
            <a href="#popupRSVP" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-icon="check" data-theme="b" data-transition="pop">RSVP</a>
            <div data-role="popup" id="popupRSVP" data-theme="a" data-overlay-theme="a" class="ui-corner-all">

                    <div style="padding:10px 20px;">
                        <h3>RSVP</h3>
                                <form>
                                    <legend>How will you get there?</legend>
                                    <label>
                                        <input type="radio" name="role" id="driver">Driver
                                    </label>
                                    <label for="rider">Rider</label>
                                    <input type="radio" name="role" id="rider" class="custom">
                                </form>
                        <form id="RSVPform"  action="/event/<%=id%>/role/new" method="post">
                            <legend>Where from?</legend>
                            <label for="location" class="ui-hidden-accessible">Location:</label>
                            <input type="text" name="location" id="location" value="" placeholder="Location" data-theme="b">

                            <legend>What time?</legend>
                            <label for="time" class="ui-hidden-accessible">Time:</label>
                            <input type="time" name="time" id="time" value="" placeholder="Leave Time" data-theme="b">

                            <div id="jq-insert">
                            </div>

                            <legend>Notes</legend>
                            <label for="notes" class="ui-hidden-accessible">Ride Notes:</label>
                            <textarea name="notes" id="notes" value="" placeholder="Ride Notes" data-theme="b"></textarea>

                            <input id="subm" type="submit" data-theme="b" data-icon="check" value="RSVP">

                    
                        </form>
                    </div>
            </div>
        </div>
        <% }else{ %>


            <a href="#" data-inline="true" data-theme="b" data-role="button" class="ui-disabled">Log in to RSVP</a>


        <% } %>

        <% if(authorized){ %>
        <a href= <%= "/event/"+id+"/edit"%> data-role="button" data-inline="true" data-mini="true" data-theme="b">Edit</a>
        <br>
        <form method="post" action=<%= "/event/"+id+"/delete"%>>
            <input name="_id" type="hidden" value=<%=id%>>
            <input data-role="button" data-inline="true" data-mini="true" data-theme="e" id="delete" name="delete" value="Delete" type="submit">
        </form>
        <% } %>

        <div id="guest-list">
            
            <div id="load_cars"><h3 style="float:left;">Cars:</h3><div style="clear:both;"></div>
            </div>

            <div id="rider-box"><h3 style="float:left;">Riders:</h3><div style="clear:both;"></div>
                <div id="stranded_riders" class="border-block ui-corner-all ui-grid-d"></div>
            </div>

    </div>

<!--/div-->