<% layout('layout') -%>

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAnhJ9slS6FaJpwogrvb5SJtEGohVY7cns&sensor=true"></script>
    <script src="/javascripts/car_gmap.js"></script>

    <div class="container">
        <div id="googleMap"></div>
        <div id="event_description_block">
        <div id="event_desc_top">
            <div id="event_head">
                <p><h2><a href="/event/<%=event._id%>"><%=event.name%></a></h2></p>
            </div>
            <div id="event_des">
                <br>
                <p><%=date%>
                <br><br>
                Start:  <%=start%>
                <br>
                End:  <%=end%></p>
            </div>
            </div>
            <div style="clear:both;"></div>
                <hr>
            <div>
                <p>Location:  <%=event.location%></p>
            </div>
                <hr>
            <div>
                <p>Description:  <%=event.description%></p>
            </div>
        </div>

        <ul data-role="listview" data-inset="true">
            <%=%>
            <li data-role="list-divider">Driver</li>
            <li>
                <a href="/user/<%=driver.user_id%>"><h2><%= driver.first_name%> <%=driver.last_name%></h2>
                <p><strong><%=driver.location%></strong></p>
                <p><%=driver.notes%></p>
                <p class="ui-li-aside"><strong><%=moment(driver.time,"HH:mm").format("h:mm A")%></strong></p>
                </a>
            </li>
            <li data-role="list-divider">Riders<span class="ui-li-count"><%=riders.length%>/<%=driver.cap%></span></li>
            <% for(obj in riders){ var rider=riders[obj];%>
            <li>
                <a href="/user/<%=rider.user_id%>"><h2><%= rider.first_name%> <%=rider.last_name%></h2>
                <p><strong><%=rider.location%></strong></p>
                <p><%=rider.notes%></p>
                <p class="ui-li-aside"><strong><%=moment(rider.time,"HH:mm").format("h:mm A")%></strong></p>
                </a>
            </li>
            <% } %>
        </ul>


    </div>