<!Doctype HTML>
<html>
<head>
        <link rel="stylesheet" href="/jquery.mobile-1.3.2/jquery.mobile-1.3.2.css" />
        <script src="/javascripts/jquery-1.10.2.min.js"></script>
        <script src="jquery.mobile-1.3.2/jquery.mobile-1.3.2.min.js"></script>
         <link rel="stylesheet" href="/stylesheets/override.css" />
        <title><%= title %></title>
</head>
<body>
    <div data-role="header">
      <a href="/" data-icon="bars" class="ui-btn-left">Menu</a>
      <h1><%=title%></h1>
      <a href="/login" data-icon="star" class="ui-btn-right" data-theme="b">Log In</a>
    </div>

    
    <div class="container">
        <h1><%= title %></h1>
        <table>
        	<% if(collection==null || collection.size==0) {%>
        		<tr><td>There is nothing in this collection.</td></tr>
        	<% }else{ %>

        	    <% var obj=collection[0];%>
        			<tr>
        				<% for(val in obj){%>
        					<td><%= val %><td>
        				<% } %>
        			</tr>
        		<% for(object in collection){ var obj=collection[object];%>
        			<tr>
        				<% for(val in obj){%>
        					<td><%= obj[val] %><td>
        				<% } %>
        			</tr>
        		<% }%>

        	<% }%>
    	</table>
    </div>
</body>
</html>