<% layout('layout') -%>
<div class="container">
    <form action=<%="/user/"+id+"/save" %> method="post" data-mini="true">
        <div data-role="fieldcontain">
            <label>Username:</label>
            <input type="text" name="username"  id="username" value="<%= username%>">
        </div>
        <div data-role="fieldcontain">
            <label>Password:</label>
            <input type="password" name="password"  id="password" value="<%= password%>">
        </div>
        <div data-role="fieldcontain">
            <label>First Name:</label>
            <input type="text" name="first_name" id="first_name" value="<%= first_name%>">
        </div>
        <div data-role="fieldcontain">
            <label>Last Name:</label>
            <input type="text" name="last_name" id="last_name" value="<%= last_name%>">
        </div>
        <div data-role="fieldcontain">
            <label>Email:</label>
            <input type="text" name="email" id="email" value="<%= email%>">
        </div>
        <div data-role="fieldcontain">
            <label for="textarea">Contact Info:</label>
            <textarea name="contact" id="contact"><%= contact%></textarea>
        </div>
        <div><input type="hidden" name="_id" value=<%= id %>></div>
        <div>
            <input type="submit" value="Update User">
        </div>
    </form>
</div>