<!--this page should not exist-->
<% layout('layout') -%>

    <div class="container">
        <h1><%= title %></h1>
        <ul data-role="listview">

        	<% if(collection==null || collection.size==0) {%>
        		<tr><td>There is nothing in this collection.</td></tr>
        	<% }else{ %>
            <li>
                <table>
        			<tr>
                        <td>Username</td>
                        <td>Password</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Email</td>
                        <td>Contact Info</td>
                        <td>ID</td>
        			</tr>
                </table>
            </li>
        	<% for(object in collection){ var obj=collection[object];%>
            <li><a href=<%="user/"+obj._id%>>
                <table>
        			<tr id="">
        				<td><%= obj.email %></td>
                        <td><%= obj.password %></td>
                        <td><%= obj.first_name %></td>
                        <td><%= obj.last_name %></td>
                        <td><%= obj.contact %></td>
                        <td><%= obj._id %></td>
        			</tr>
                </table>
            </a></li>
        		<% }%>

        	<% }%>
    	</ul>
    </div>
</body>
</html>